body {
    background-color: #9c835f;
    height: 100vh;
}
.nav-link {
    color: beige;
}

.title {
    position: absolute;
    width: 410px;
    height: 62px;
    left: 200px;
    top: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 49px;
    /* text-align: center; */

    color: #F9B23D;
}

.logo {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 119px;
    top: 27px;
    
}

.player1 {

    color: black;
    position: absolute;
    /* width: 299px; */
    height: 94px;
    left: 35%;
    top: 120px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    
    

}

.com {
    color: black;
    position: absolute;
    width: 299px;
    height: 94px;
    left: 60%;
    top: 120px;

    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
}
#bgk-card {
    border-radius: 5%;
    background-color: aqua;
    text-align: center;
    color: #BD0000;
}

#keterangan {
    position: absolute;
    width: 250px;
    height: 150px;  
    left: 47%;
    top: 45%;
    border-radius: 5%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 145px;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-30.98deg);


    color: #BD0000;
    background-color: #F9B23D;

}

#refresh {
    position: absolute;
    width: 120px;
    height: 71px;
    left: 50%;
    top: 650px;

}

.player1 .row :hover {
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

/* #playerBatu:hover {
    transform: scale(1.25);
    transition: 100ms;
} */

