/* LAGI SERIUS BELAJAR BOOTSTRAP - GAK BANYAK PAKE CSS */
/* SEBELUMNYA SEMPAT BUAT PROJECT INI PAKE CSS DOANG */


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.green {
    background-color: aqua;

}

.nav-link {
    color: white;
}

.bg-first-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/main-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-second-page {
    min-height: 100vh;
    background-image: url("../images/the-games-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-third-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/features.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}



.accordion-body {
    background-color: transparent;
    color: white;
    font-weight: lighter;
}

.accord-head {
    background-color: transparent;
    color: white;
}

.bg-fourth-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/requirements.png");
 
    background-position: center;
    background-size: cover;
    position: relative;
}

/* TO DO: TO MAKE THE LEFT PART DARKER */
.bg-fourth-page2 {
    /* background: linear-gradient(to right, black, black, black, none); */
    /* opacity: .6; */
}

.bg-fifth-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/top-score-bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-sixth-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/");
}

.bg-fifth-page .mt-40 {
    margin-top: 30%;
}

#carouselExampleIndicators {
    width: 600px;
    height: 400px;
}

.carousel-item img {
    width: 600px;
    height: 300px;
}

